# App
APP_NAME=PICTURE API
APP_DESCRIPTION=API for text recognition in photos
DEBUG=False
API_VERSION=1.0

# Postgres
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=sa

# RabbitMQ
RMQ_HOST=rabbitmq
RMQ_PORT=5672
RMQ_USER=rmuser
RMQ_PASS=rmpassword

# Security
COOKIE_NAME=PICTURE_API
SECRET_KEY=MY_SECRET_KEY